VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_API_URL=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM=Poligami HQ <poligami.hq@gmail.com>
RESEND_REPLY_TO=poligami.hq@gmail.com
APP_URL=https://poligami.my
